html {
 scroll-behavior: smooth;
 background-color: #ecf0ff  
}

body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffd700;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 0 20px;
    transition: 0.2s;
    color: #1e3a5c;
    margin-left: 10px;
}

header h1:hover {
    background-color: #1e3a5c;
    color: #ffd700; 
    border-radius: 50px;
}

header img {
    width: 100px; 
    height: 100px;
    margin: 0 25%;
    border-radius: 50px;
    vertical-align: middle; 
    transition: 0.3s;
}

header img:hover{
transform: scale(1.1);
}

header nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    float: right;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

nav ul li a {
    font-family: "Raleway", sans-serif;
    color: #1e3a5c;
    text-transform: capitalize;
    transition: 0.2s;
    padding: 0;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #1e3a5c; 
    color: #ffd700;
    border-radius: 50px;
}

#banner {
    background-color: #1e3a5c;
    color: #fff;
    text-align: center;
    margin-top: 110px;
}

.destinos ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.destinos img {
    width: 241.5px; 
    padding: 5px 15px 0px 15px;
}

#home {
    display: flex;
    align-items: center;
    gap: 35%;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
}

#qsomos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: justify;
    max-width: 80%;

}

#qsomos h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: center;
}

#qsomos p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

#qsomos a {
    margin-top: -2rem;
    font-size: 10px;
    margin-left: 30rem;
}

.btn {
    display: inline-block;
    padding: 5px 5px;
    color: white;
    background-color: #1e3a5c;
    border: 2px solid #1e3a5c;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: white;
    color: #1e3a5c;
}

#videos {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.video-element {
    max-width: 800px; 
    display: block; 
    margin: 0 auto; 
    height: 475px;
}

.controls {
    text-align: center;
}

.controls button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #1e3a5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #ffd700;
    color: #1e3a5c;
}

#contatos {
    padding-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
}

.contatos .instagram h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: center;
}

.contatos .whatsapp h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: center;
}

#contatos .whatsapp p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    margin: 20px auto;
}

#contatos .instagram,
.whatsapp {
    text-align: center; 
}

#contatos .instagram .btn-instagram,
.whatsapp .btn-whatsapp {
    display: inline-block;
    background-color: #1e3a5c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#contatos .instagram .btn-instagram:hover,
.whatsapp .btn-whatsapp:hover {
    background-color: #ffd700;
    color: #1e3a5c;
}

footer {
    margin-top: 80px;
    background-color: #1e3a5c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#nservicos {
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    scroll-margin-top: 120px;
}

#servicos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: justify;
    max-width: 80%;
}

#servicos h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: center;
}

#servocos p li {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

#reloca img {
    width: 120%; 
}

.contatos-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contatos-content {
    flex: 1;  
}

.dreamyturismo img {
    width: 50%; 
    max-width: 400px;
    height: auto; 
    border-radius: 10px;
    margin-left: 10%; 
}



/* Media Queries */

/* Para dispositivos móveis (smartphones) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    header img {
        margin: 10px 0;
    }

    header nav ul {
        flex-direction: column;
        margin: 10px 0;
    }

    header h1 {
        margin: 10px 0;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #banner {
        padding: 20px;
        font-size: 16px;
        margin-top: 230px;
    }

    .destinos ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .destinos li {
        margin: 10px; 
    }

    .destinos img {
        width: 100%;
        max-width: 200px; 
        height: auto;
        padding: 5px;
    }

    #home {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    #qsomos {
        max-width: 100%;
        padding: 10px;
    }

    #qsomos h2 {
        font-size: 24px;
    }

    #qsomos p {
        font-size: 16px;
    }

    #qsomos a.btn {
        display: block;
        margin: 20px auto; 
        text-align: center;
    }

    #nservicos {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        scroll-margin-top: 240px;
    }

    #servicos {
        max-width: 100%;
        padding: 10px;
    }

    #servicos h2 {
        font-size: 24px;
    }

    #servicos p {
        font-size: 16px;
    }

    #reloca img {
        width: 100%;
    }

    #contatos {
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 0;
        scroll-margin-top: 240px;
    }

    .contatos-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contatos-content {
        text-align: center;
        margin-bottom: 20px;
    }

    .dreamyturismo img {
        width: 80%;
    }

    footer {
        padding: 20px 0;
    }
}

/* Para tablets (entre 769px e 900px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header img {
        width: 90px;
        height: 90px;
        margin: 0;
    }

    header nav ul {
        flex-direction: column;
        margin: 10px 0;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #banner {
        padding: 30px;
        font-size: 18px;
    }

    .destinos ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .destinos img {
        width: 30%;
        padding: 5px;
    }

    #home {
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    #qsomos {
        max-width: 90%;
        padding: 20px;
    }

    #qsomos h2 {
        font-size: 26px;
    }

    #qsomos p {
        font-size: 17px;
    }

    #qsomos a.btn {
        display: block;
        margin: 20px auto; 
        text-align: center;
    }

    #nservicos {
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    #servicos {
        max-width: 90%;
        padding: 20px;
    }

    #servicos h2 {
        font-size: 26px;
    }

    #servicos p {
        font-size: 17px;
    }

    #reloca img {
        width: 100%;
    }

    #contatos {
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px 0;
    }

    .contatos-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contatos-content {
        text-align: center;
        margin-bottom: 30px;
    }

    .dreamyturismo img {
        width: 70%;
    }

    footer {
        padding: 20px 0;
    }
}

/* Para dispositivos (entre 1024px e 1440px) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {  
    #banner, footer {
        width: 100%;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .destinos img {
        width: 175px; 
        padding: 5px 15px 0px 15px;
    }

    #home {
        gap: 30%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #qsomos a.btn {
        display: block;
        margin: 20px auto; 
        text-align: center;
    }

    #reloca img {
        width: 130%;
    }
}